body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #F9C74F, #7B1E3A);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: 0.4s;
}
.container {
    background: #fff7e6;
    padding: 30px;
    border-radius: 14px;
    width: 330px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(123, 30, 58, 0.4);
    position: relative;
}

h2 {
    margin-bottom: 20px;
    color: #7B1E3A;
    font-weight: 900;
}
button {
    background: #7B1E3A;
    color: #F9C74F;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

button:hover {
    background: #4A0D24;
}
input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #7B1E3A;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #4A0D24;
}
